




{{!--<li><a {{action "setBodyView" fff }}><span class="glyphicon glyphicon-time"></span> 
Post # {{post.id}} - <b>Post Title</b> - {{post.title}}</a>
<br/>

{{list-posts/author-post Author=post.user.name }}</li>


{{#if fff}}

      <p>{{post.id}}</p>

{{/if}}        

{{yield}}--}}
